[Unit]
Description=EQ Converter Service
After=network-online.target

[Service]
StandardOutput=journal
Environment="EQCONVERTER_ENV=prod"
ExecStart=/bin/bash -c 'cd /home/pierre/run/eqconverter && source ./venv/bin/activate && python3 ./backend.py'
Restart=on-failure
RestartSec=10

[Install]
